@use '../../App';

#waiting-screen {
    background-color: App.$color-bg-wait;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        transform: scale(0.7);
    }
}